.container {
    width: 748px;
}
.home-login {
    padding: 0 48px;
}
.section-partners .card-wrapper {
    flex-wrap: wrap;
    width: 492px;
    margin: auto;
}
.avatar {
    width: 236px;
}
.poster:first-child, .poster:nth-child(2) {
    margin: 0 20px 20px 0;
}
#culture {
    margin-right: 0;
}
#travel {
    margin-right: 0;
}
.footer-wrap {
    padding: 0 40px;
}
.poster span {
    width: clamp(15ch, 100%, 19ch);
}
