section.section.section-activities
    div.container
        div.card-wrapper
            a#sport.poster(href="") 
                span Sports and Activities
            a#health.poster(href="") 
                span Wellness and Health
            a#extreme.poster(href="") 
                span Extreme Sports and Expeditions
        div.card-wrapper
            a#games.poster(href="") 
                span Games
            a#culture.poster(href="") 
                span Culture and Education
        div.card-wrapper
            a#relax.poster(href="") 
                span Enjoyment and Relaxition
            a#travel.poster(href="") 
                span Travelling
