section.section-form
    div.container
        h2.section-title Create your holiday activity
        div.form-wrapper
            form
                p.form-text Hi! What are your holiday interests?
                div.form-search
                    input(type="text" placeholder="Enter your interests")
                    button.button.search Search partners
