header.home
    div.container
        div.home-wrapper
            div.home-login
                div.dreamshare DREAMSHARE
                div.home-login-buttons
                    button.button.home-login-button Log in
                    button.button.home-signup-button Sign up
            div.home-action
                h1.home-title(style="color: white;") Share your <br> holiday dream
                p.home-text And find the perfect partner to fulfill it
                a.button.home-action-button(href="") Find your holiday partner
