section.section.section-partners
    div.container
        h2.section-title Meet a partner for your best holiday
        div.card-wrapper

            div.avatar
                img(
                    src="./images/Photo0.png" alt="a")
                h5.avatar-name Bradley Hunter
                p.avatar-text Ipsum similique modi nobis quibusdam voluptatem.

            div.avatar
                img(src="./images/Photo.png" alt="")
                h5.avatar-name Marie Bennett
                p.avatar-text Ipsum similique modi nobis quibusdam voluptatem.

            div.avatar
                img(src="./images/Photo2.png" alt="")
                h5.avatar-name Diana Wells
                p.avatar-text Ipsum similique modi nobis quibusdam voluptatem.

            div.avatar
                img(src="./images/Photo3.png" alt="")
                h5.avatar-name Christopher Pierce
                p.avatar-text Ipsum similique modi nobis quibusdam voluptatem.

        a.button.partners-button(href="") See other partners
