section.section.section-steps
    div.container
        h2.section-title How Dreamshare Works?
        div.card-wrapper
            div#step-1.card
                div.card-desc
                    div.step Step 1
                    h3.card-title Sit excepturi
                    p.card-text Ipsum amet neque perspiciatis atque optio placeat dignissimos optio? Voluptatum veritatis numquam
            div#step-2.card
                div.card-desc
                    div.step Step 2
                    h3.card-title Sit excepturi
                    p.card-text Ipsum amet neque perspiciatis atque optio placeat dignissimos optio? Voluptatum veritatis numquam
            div#step-3.card
                div.card-desc
                    div.step Step 3
                    h3.card-title Sit excepturi
                    p.card-text Ipsum amet neque perspiciatis atque optio placeat dignissimos optio? Voluptatum veritatis numquam
